div.main{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
span.fib-block{
    padding: 10px;
    background-color: #48bbe0;
    color: white;
    display: inline-block;
    margin: 5px;
}