div.main{
    padding: 10px;
    display: flex;
    flex-direction: column;
}
div.block-of-project{
    display: flex;
    background-color: lightgrey;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px
}
div.block-of-project > img{
    max-width: 200px;
    max-height: 200px;
    width: 30%;
    height: 200px;
    background-color: grey;
    text-align:center;
}
div.block{
    display:flex;
    flex-direction: column;
}